//
//  Config.xcconfig
//  grsyncx
//
//  Created by Michal Zelinka on 13/01/2020.
//  Copyright © 2020 Michal Zelinka. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

GRSYNCX_VERSION = 0.1
GRSYNCX_BUILD   = 16
