<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(GRSYNCX_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(GRSYNCX_BUILD)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020– Michal Zelinka. All rights reserved.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>NSDesktopFolderUsageDescription</key>
	<string>grsyncx requires a permission to access your Desktop folder as you&apos;ve selected it to be synchronized.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>grsyncx requires a permission to access your Documents folder as you&apos;ve selected it to be synchronized.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>grsyncx requires a permission to access your Downloads folder as you&apos;ve selected it to be synchronized.</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>grsyncx requires a permission to access network volumes as you&apos;ve selected it to be synchronized.</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>grsyncx requires a permission to access removable volumes as you&apos;ve selected it to be synchronized.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>grsyncx requires a permission to access Photo Library data as you&apos;ve selected it to be synchronized.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>grsyncx requires a permission to access Calendars data as you&apos;ve selected it to be synchronized.</string>
	<key>NSRemindersUsageDescription</key>
	<string>grsyncx requires a permission to access Reminders data as you&apos;ve selected it to be synchronized.</string>
	<key>NSContactsUsageDescription</key>
	<string>grsyncx requires a permission to access Contacts data as you&apos;ve selected it to be synchronized.</string>
</dict>
</plist>
